

  <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- FullScreen -->
  <div id="header" class="intro-header">
    <div class="col-xs-12 text-center abcen1">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">AxMath</h1>
      <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Your Ultimate Equation Editor</h3>
      <ul class="list-inline intro-social-buttons">
        <li><a href="" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="0.8s"><span class="network-name">Video Demo</span></a>
        </li>
        <li id="download"><a href="#downloadlink" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name">Free Download</span></a>
        </li>
      </ul>
    </div>
    <div class="col-xs-12 text-center abcen wow fadeIn">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#whatis"> <img class="img_scroll" src="img/icon/circle.png" alt=""> </a>
      </div>
    </div>
  </div>

  <!-- NavBar-->
  <nav class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#header">AxMath</a>
      </div>
      <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="menuItem"><a href="#whatis">What is?</a></li>
          <li class="menuItem"><a href="#useit">Use It</a></li>
          <li class="menuItem"><a href="#buy">Buy Pro</a></li>
          <li class="menuItem"><a href="#credits">Credits</a></li>
          <li class="menuItem"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- What is -->
  <div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>What is?</h2>
        <p class="lead" style="margin-top:0">A multi-functional equation editor.</p>
      </div>
      <div class="row">
        <div class="col-sm-4 wow fadeInDown text-center">
          <img class="rotate" src="img/icon/laptop.svg" alt="Generic placeholder image">
          <h3>Word Support</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4 wow fadeInDown text-center">
          <img class="rotate" src="img/icon/pencil.svg" alt="Generic placeholder image">
          <h3>LaTeX Support</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4 wow fadeInDown text-center">
          <img class="rotate" src="img/icon/picture.svg" alt="Generic placeholder image">
          <h3>Image Support</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
      <div class="row tworow">
        <div class="col-sm-4  wow fadeInDown text-center">
          <img class="rotate" src="img/icon/bulb.svg" alt="Generic placeholder image">
          <h3>Auto Completion</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4 wow fadeInDown text-center">
          <img class="rotate" src="img/icon/bank.svg" alt="Generic placeholder image">
          <h3>Built-in Calculator</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-sm-4 wow fadeInDown text-center">
          <img class="rotate" src="img/icon/polaroid.svg" alt="Generic placeholder image">
          <h3>Hand Recognition</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.row -->
    </div>
  </div>

  <!-- Use it -->
  <div id="useit" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 pull-right wow fadeInRightBig">
          <img class="img-responsive " src="img/ipad.png" alt="">
        </div>
        <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">Scrollable Panel</h3>
          <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh
            <br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
          <p class="lead">
            In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, uam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
          </p>
          <p><a class="btn btn-embossed btn-primary" href="#downloadlink" role="button">Free Download</a>
            <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 wow fadeInLeftBig">
          <div id="owl-demo-1" class="owl-carousel">
            <a href="img/iphone.png" class="image-link">
              <div class="item">
                <img class="img-responsive img-rounded" src="img/iphone.png" alt="">
              </div>
            </a>
            <a href="img/iphone.png" class="image-link">
              <div class="item">
                <img class="img-responsive img-rounded" src="img/iphone.png" alt="">
              </div>
            </a>
            <a href="img/iphone.png" class="image-link">
              <div class="item">
                <img class="img-responsive img-rounded" src="img/iphone.png" alt="">
              </div>
            </a>
          </div>
        </div>
        <div class="col-sm-6 wow fadeInRightBig" data-animation-delay="200">
          <h3 class="section-heading">Word & LaTeX Support</h3>
          <div class="sub-title lead3">Lorem ipsum dolor sit atmet sit dolor greand fdanrh
            <br> sdfs sit atmet sit dolor greand fdanrh sdfs</div>
          <p class="lead">
            In his igitur partibus duabus nihil erat, quod Zeno commuta rest gestiret. Sed virtutem ipsam inchoavit, nihil ampliusuma. Scien tiam pollicentur, uam non erat mirum sapientiae lorem cupido patria esse cariorem. Quae qui non vident, nihilamane umquam magnum ac cognitione.
          </p>
          <p><a class="btn btn-embossed btn-primary" href="#" role="button">View Details</a>
            <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 pull-right wow fadeInRightBig">
          <img class="img-responsive " src="img/doge.png" alt="">
        </div>
        <div class="col-sm-6 wow fadeInLeftBig" data-animation-delay="200">
          <h3 class="section-heading">Clipboard & Magnets</h3>
          <p class="lead">A special thanks to Death to the Stock Photo for providing the photographs that you see in this template.
          </p>
          <ul class="descp lead2">
            <li><i class="glyphicon glyphicon-signal"></i> Reliable and Secure Platform</li>
            <li><i class="glyphicon glyphicon-refresh"></i> Everything is perfectly orgainized for future</li>
            <li><i class="glyphicon glyphicon-headphones"></i> Attach large file easily</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Screenshot -->
  <div id="screen" class="content-section-b">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
          <h2>Screen App</h2>
          <p class="lead" style="margin-top:0">A special thanks to Death.</p>
        </div>
      </div>
      <div class="row wow bounceInUp">
        <div id="owl-demo" class="owl-carousel">
          <a href="img/slide/1.png" class="image-link">
            <div class="item">
              <img class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
            </div>
          </a>
          <a href="img/slide/2.png" class="image-link">
            <div class="item">
              <img class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
            </div>
          </a>
          <a href="img/slide/3.png" class="image-link">
            <div class="item">
              <img class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
            </div>
          </a>
          <a href="img/slide/1.png" class="image-link">
            <div class="item">
              <img class="img-responsive img-rounded" src="img/slide/1.png" alt="Owl Image">
            </div>
          </a>
          <a href="img/slide/2.png" class="image-link">
            <div class="item">
              <img class="img-responsive img-rounded" src="img/slide/2.png" alt="Owl Image">
            </div>
          </a>
          <a href="img/slide/3.png" class="image-link">
            <div class="item">
              <img class="img-responsive img-rounded" src="img/slide/3.png" alt="Owl Image">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="buy" class="content-section-c ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title white">
          <h2>Get Pro Version</h2>
          <p class="lead" style="margin-top:0">It takes $20 for a Pro License to unlock all utilities.</p>
        </div>
        <div class="mockup-content">
          <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
            <button type="button "><span>Update Pro Version</span></button>
            <div class="morph-content">
              <div>
                <div class="content-style-form content-style-form-4 ">
                  <h2 class="morph-clone">Update Pro Version</h2>
                  <form>
                    <p>
                    	<label type="email">Email Address</label>
                    	<input type="text" placeholder="We'll send you license file later" required/>
                    </p>
                    <p>
                      <label>AxMath Lic Key</label>
                      <input type="text" placeholder="XXXXX-XXXXX-XXXXX-XXXXX" required/>
                    </p>
                    <p>
                      <button>Pay Now</button>
                    </p>
                    <!-- <p>
                      <a href="/tos">Terms of Service</a>
                      <a href="/license" class="pull-right">License Status</a>
                    </p> -->
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Credits -->
  <div id="credits" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2>Credits</h2>
          <p class="lead" style="margin-top:0">A special thanks to Death.</p>
        </div>
        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <a href="{{doc_url}}" target="_blank">
            <div class="col-md-4 box-icon rotate">
              <i class="fa fa-desktop fa-4x "> </i> 
            </div>
            </a>
            <div class="col-md-8 box-ct">
              <h3> Documentation </h3>
              <p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <a href="{{video_url}}" target="_blank">
            <div class="col-md-4 box-icon rotate">
              <i class="fa fa-picture-o fa-4x "> </i>
            </div>
            </a>
            <div class="col-md-8 box-ct">
              <h3> Video Tutorial </h3>
              <p> We use slack for online support. Join our slack channel now!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row tworow">
        <div class="col-sm-6  block wow bounceIn">
          <div class="row">
            <a href="{{manual_url}}" target="_blank">
            <div class="col-md-4 box-icon rotate">
              <i class="fa fa-magic fa-4x "> </i>
            </div>
            </a>
            <div class="col-md-8 box-ct">
              <h3> Cheatsheets </h3>
              <p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 block wow bounceIn">
          <div class="row">
            <a href="{{support_url}}" target="_blank">
            <div class="col-md-4 box-icon rotate">
              <i class="fa fa-heart fa-4x "> </i>
            </div>
            </a>
            <div class="col-md-8 box-ct">
              <h3> Online Support</h3>
              <p> We use slack for online support. Join our slack channel now!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Banner Download -->
  <div id="downloadlink" class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2>Download Free</h2>
          <p class="lead" style="margin-top:0">Latest Version: {{axmath_ver}}</p>
          <p><a class="btn btn-embossed btn-primary view" role="button" href="{{download_url}}" target="_blank">Free Download</a></p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact -->
  <div id="contact" class="content-section-a">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
          <h2>Contact Us</h2>
          <p class="lead" style="margin-top:0">Need 50 licenses or more!</p>
        </div>
        <form role="form" action="" method="post">
          <div class="col-md-6">
            <div class="form-group">
              <label for="InputName">Your Name</label>
              <div class="input-group">
                <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
              </div>
            </div>
            <div class="form-group">
              <label for="InputEmail">Your Email</label>
              <div class="input-group">
                <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required>
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
              </div>
            </div>
            <div class="form-group">
              <label for="InputMessage">Message</label>
              <div class="input-group">
                <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
              </div>
            </div>
            <input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
          </div>
        </form>
        <hr class="featurette-divider hidden-lg">
        <div class="col-md-5 col-md-push-1 address">
          <address>
            <h3>Bulk Option</h3>
            <p class="lead">
              For companies and organizations <br>
					    For 50 licenses or more <br> 
              Offer a discount based on quantity <br> 
              Contact us for bulk option!
            </p>
          </address>
          <h3>Social</h3>
          <li class="social">
            <a href="{{facebook_url}}"><i class="fa fa-facebook-square fa-size"> </i></a>
            <a href="{{twitter_url}}"><i class="fa fa-twitter-square fa-size"> </i> </a>
            <a href="{{linkedin_url}}"><i class="fa fa-linkedin-square fa-size"> </i></a>
            <a href="#"><i class="fa fa-share-alt-square fa-size"> </i> </a>
          </li>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h3 class="footer-title">Follow Us!</h3>
          <p>Do you want to receive the latest news of AxMath?
            <br/> Follow us on Twitter!
            <br/> Go to: <a href="{{twitter_url}}" target="_blank">AxMath Twitter</a>
          </p>
          <!-- LICENSE -->
          AxMath copyright 2015.
        </div>
        <!-- /col-xs-7 -->
        <div class="col-md-5">
          <div class="footer-banner">
            <h3 class="footer-title">AxMath Site Map</h3>
            <ul>
              <li>Official Blog: <a href="{{blog_url}}">Medium Blog</a></li>
              <li>Documentation: <a href="{{doc_url}}">Gitbook</a></li>
              <li>Cheatsheets: <a href="{{manual_url}}">PDF Manual</a></li>
              <li>Video Tutorial: <a href="{{video_url}}">Vimeo Section</a></li>
              <li>Online Support: <a href="{{support_url}}">Slack Channel</a></li>
            </ul>
            Email: <a href="mailto:{{admin_email}}">admin@axmath.io</a>
          </div>
        </div>
      </div>
    </div>
  </footer>


